%card__title {
    font: {
        weight: 600;
        family: $secondary;
        size: 1.5rem;
    }
    color: #454d5a;
}
%card__price {
    font: {
        weight: 500;
        family: $numbers;
        size: 1.3rem;
    }
    color: #666666;
}
%card__base{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 3px;
    overflow: hidden;
}