.field{
    display: flex;
    flex-direction: column;
    &__input{
        // position: relative;
        padding: 1em;
        outline: none;
        border-radius: 5px;
        border: 1px solid #c4c4c4;
        color: #c4c4c4;
        &--is-invalid{
            border: 1px solid red;
        }
        &:focus{
            color: black;
        }
    }
    &__error{
        // position: absolute;
        margin-top: .5em;
        color: red;
        font-size: .7em;
    }
}