@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$primary: 'Montserrat', sans-serif;
$secondary: 'Source Sans Pro', sans-serif;

body{
    font-family: $primary;
}
