.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-header;
    &__logo {
        width: 130px;
        padding: 1rem 2rem;
    }
    &__nav {
        .nav__list {
            padding: 2rem 4rem;
            display: flex;
            align-items: center;
            gap: 10px;
            list-style: none;
            .nav__item {
                font-family: $secondary;
                font-size: 20px;
                .nav__link {
                    color: black;
                    text-decoration: none;
                    position: relative;
                    &:after {
                        content: "";
                        position: absolute;
                        left: 25%;
                        bottom: 0px;
                        background: $primary-home;
                        width: 50%;
                        height: 2px;
                        opacity: 0;
                        transition: all 0.3s;
                        transform: translateY(-10px);
                    }
                    &:hover:after{
                        opacity: 1;
                        transform: translateY(5px);
                    }
                }
                .cart-widgets{
                    color: black;
                    position: relative;
                    font-size: 35px;
                    display: flex;
                    flex-direction: column;
                    margin-right: 15px;
                    &:after {
                        content: "1";
                        position: absolute;
                        right: -12px;
                        bottom: 0;
                        font-size: 14px;
                        font-family: $numbers;
                        font-weight: 700;
                        border-radius: 50%;
                        padding: 0 5px;
                        background-color: $primary-home;
                    }
                }
            }
        }
    }
}
